<div class="home">
    <div class="sidenavCompiler">
        <ul style="list-style-type:none;margin-left: -40px;">
            <li id="python" class="<%= (language==0)? " active": "inactive" %>"><a href="/python">Py</a></li>
            <li id="c" class="<%= (language==1)? " active": "inactive" %>"><a href="/c">C</a></li>
            <li id="cplus" class="<%= (language==2)? " active": "inactive" %>"><a href="/cplus">C++</a></li>
            <li id="java" class="<%= (language==3)? " active": "inactive" %>"><a href="/java">Java</a></li>
            <li id="file" ><input type="file" style="display:none;" id="inputfile" accept=".java,.cpp,.c,.py" onchange="loadDoc();"/>
                <a href="javascript:document.getElementById('inputfile').click(); ">Upload</a></li>
        </ul>
    </div>

    <div class="row">
        <form method="POST" action="/run-input">

            <textarea class="column0" id="lines" name="lines" spellcheck="false"
                style="overflow:hidden;background-color: rgba(0, 0, 0, 0);"
                readonly><%if(lineNr){%><%=lineNr%><%}%></textarea>


            <div id ="container">
                <%if(inputCode){%>
                    <textarea  onkeydown="check_tab(this, event);" id="inputCode" name="inputCode" class="column1 editor"
                        oninput="update(this.value);" spellcheck="false"
                        style="background-color: rgba(0, 0, 0, 0);"><%= inputCode %></textarea>
                    <%}else{%>
                        <textarea   onkeydown="check_tab(this, event);" id="inputCode" name="inputCode" class="column1 editor"
                            oninput="update(this.value);" spellcheck="false"
                            style="background-color: rgba(0, 0, 0, 0);"></textarea>
                        <%}%>



                            <button class="btnRunScript" type="submit">
                                <span>Run</span>
                            </button>
                <pre id="highlighting" aria-hidden="true" width="30">
                    <code 
                        <%if(language==0){%>
                            class="language-py"
                        <%}else if(language==1){%>   
                            class="language-c"
                        <%}else if(language==2){%>   
                            class="language-cpp"
                        <%}else if(language==3){%>   
                            class="language-java"
                        <%}%>
                        id="highlighting-content">
                    </code>
                </pre>
            </div>
        </form>

        <textarea class="column2" id="console" spellcheck="false" style="background-color: rgba(0, 0, 0, 0);"
            readonly><%if(outputResult){%><%=outputResult%><%}%></textarea>


    </div>
    <hr>
</div>