<!DOCTYPE html>
<html lang="ro-RO">

<head>
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script type="text/javascript" src="../script.js"></script>

</head>

<body>
    <div class="wrapper" style="display: block;">
        <div class="header">
            <h1>Online Compiler</h1>
        </div>
        <div class="menuNav">
            <nav>
                <ul>

                    <!--
                    <li id="home" class="inactive"><a href="#"
                            onclick="schimbaContinut('home','home'); return false">Home</a></li>
                    <li id="how" class="inactive"><a href="#" onclick="schimbaContinut('how', 'how'); return false">How
                            To</a></li>
                    <li id="about" class="inactive"><a href="#"
                            onclick="schimbaContinut('about','about'); return false">About</a></li>
                    onchange(), cate \n?
-->
                    <li id="home" class="<%= (activ==0)? "active": "inactive" %>"><a href="/home">Home</a></li>
                    <li id="how" class="<%= (activ==1)? "active": "inactive" %>"><a href="/how" >How To</a></li>
                    <li id="about" class="<%= (activ==2)? "active": "inactive" %>"><a href="/about">About</a></li>
                     
                </ul>
            </nav>
        </div>


        <div class="main">
            <main id="continut">
                <%- body %>
            </main>
            <footer>
                &copy;Dima Raul Andrei. 2021 . Programare web
            </footer>
        </div>
    </div>
</body>

</html>